{% extends "master.html" %}
{% load ahrm_tags %}
{% load i18n %}
{% block title %}AHRM - Compamy{% endblock %}

{% block content %}

{{form.media}}

<h2>&nbsp;</h2>
<form method="POST" enctype="multipart/form-data">
  <font color="red"><b>
  {% if error_name %}
     <label for="id_name">{% trans 'Name' %}</label>: {% trans 'This field is required.' %}<br/>
  {% endif %}
  {% if form.errors %}
     
     {% for field in form %}
        {% if field.errors %}
           {% for error in  field.errors %}
            {{ field.label_tag }}: {{ error }}<br/>
           {% endfor %}
        {% endif %}
     {% endfor %}
  {% endif %}
  </b></font>
  
  <table class="ahrmtable" border=0>
    <thead>
       <th colspan="6" align="left">{% trans 'Company detail' %}</th>
    </thead>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td colspan="2">&nbsp;</td>
     </tr>
     <tr>
        <td>{% trans 'Name' %}: </td>
        <td>
        {% if com_id %}
           {{com_name}}<input type="hidden" value="{{com_name}}" name="id_name"/>
        {% else %}
           <input type="text" value="{{com_name}}" name="id_name" id="id_name"/>
        {% endif %}
        
        </td>
        <td>{% trans 'Description' %}: </td>
        <td>{{form.desc}}</td>
        <td rowspan="4">
        	{% if not company_logo %}
        		<img src="/site_media/images/bg.jpg" style="width: 3cm;height: 3cm; border: solid 1px"/>
        	{% else %}
        		<img src="/site_media/{{company_logo}}" style="width: 3cm;height: 3cm; border: solid 1px"/>
        	{% endif %}
        	
        </td>
     </tr>
     <tr>
        <td>{% trans 'Address' %}: </td>
        <td>{{form.address}}</td>
        <td>{% trans 'City' %}: </td>
        <td>{{form.city}}</td>
        <td>&nbsp;</td>
     </tr>
     <tr>
        <td>{% trans 'E-mail' %}: </td>
        <td>{{form.mail}}</td>
        <td>{% trans 'Zip Code' %}: </td>
        <td>{{form.zipcode}}</td>
        <td>&nbsp;</td>
     </tr>
     <tr>
        <td>{% trans 'Tel' %}.1: </td>
        <td>{{form.phone1}}</td>
        <td>{% trans 'Tel' %}.2: </td>
        <td>{{form.phone2}}</td>
        <td>&nbsp;</td>
     </tr>
     <tr>
        <td>{% trans 'Country' %}: </td>
        <td>{{form.country}}</td>
        <td>{% trans 'Company logo' %}:</td>
        <td colspan="2">{{form.logo}}</td>
     </tr>
     <tr>
        <td>{% trans 'Company banner' %}:</td>
        <td>{{form.banner}}</td>
        <td colspan="3">&nbsp;</td>
     </tr>
     <tr>
        <td valign="top">{% trans 'Welcome Message' %}: </td>
        <td colspan="4">{{form.welcome_message}}</td>
     </tr>
     <tr>
        <td colspan="5">&nbsp;</td>
     </tr>
  </table>
  <br/>
  
  <input type="submit" value="{% trans 'Save' %}" name="com_edit_save" />
  {% if not initialize %} 
      &nbsp;&nbsp;<input type="button" value="{% trans 'Back' %}" onclick="process('/companies/list')" />
  {% else %}
      &nbsp;&nbsp;<input type="button" value="{% trans 'Back' %}" onclick="process('/companies/show')" />
  {% endif %}
  <input type="hidden" value="{{com_id}}" name="com_id"/>
  <br/><br/>
</form>
{% endblock %}
