{% extends "master.html" %}
{% load ahrm_tags %}
{% load i18n %}

{% block title %}AHRM - Password Setting{% endblock %}

{% block content %}
<form method="post" action="/user/pwd/update/{{ user_id }}">
<br/>
<h4>{% trans 'Password Setting' %}:</h4>
<font color="red"><b>
{% if form.errors %}
     {% for field in form %}
        {% if field.errors %}
           {% for error in  field.errors %}
            {{ field.label_tag }}: {{ error }}<br/>
           {% endfor %}
        {% endif %}
     {% endfor %}
{% endif %}

</b></font>
<table class="ahrmtable">
    <thead>
       <th colspan="4" align="left">{% trans 'Set Password for User' %}: {{user_name}}</th>
    </thead>
    <tr>
        <td width="30%">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
     </tr>
     <tr>
        <td>{% trans 'New Password' %}: </td>
        <td>{{form.new_password1}}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
     </tr>
     <tr>
        <td>{% trans 'New Password Confirmation' %}: </td>
        <td>{{form.new_password2}}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
     </tr>
     <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
     </tr>
  </table>
  <br/>
  <input type="submit" value="{% trans 'Save' %}" name="btn_set_pwd_save" /> &nbsp;&nbsp;
  <input type="button" value="{% trans 'Back' %}" onclick="process('/user/detail/{{user_id}}')" />
  <br/><br/>
</form>
{% endblock %}
