
@page {
    size: a4 landscape;
    /*top: 2cm;
    left: 2cm;
    right: 2cm;
    height: 2cm;*/
    @frame middle {
        margin-top: 3.5cm;
        margin-right: 1.5cm;
        margin-left: 1.5cm;
        bottom: 2cm;
    }

    @frame footer {
        -pdf-frame-content: footerContent;
        bottom: 0cm;
        margin-left: 1cm;
        margin-right: 1cm;
        height: 1.7cm;
    }
  
    @frame header {
        -pdf-frame-content: headerContent;
        top: 0cm;
        margin-left: 1cm;
        margin-right: 1cm;
        height: 3.5cm;
    }
}



.ahrmtablelist {
     border-collapse:collapse;
     /*background:#EFF4FB;*/
     background:#CFF4FB;
     border-left:1px solid #686868;
     border-right:1px solid #686868;
     font:0.8em/145% Georgia, serif;
     color: #333;
     /*width: 98%;*/
     margin: solid 2px;
     
     
}

thead th, tfoot th, tfoot td {
    background:#333 url(/site_media/images/llsh.gif) repeat-x;
    color:#fff
   
}

.ahrmtable tr, .ahrmtablelist tr, .ahrmtablenormal tr{
    height: 25px;
}





