<br/>
{%load i18n %}
{%if status %}
    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
               {% for error in  field.errors %}
                   <font color="red">  {{ field.label_tag }}: {{ error }}<br/></font>
               {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
  
	<form action="/employee/emergency/save" method="POST">
		<table class="ahrmtable">
			<thead>
				<th colspan="4" align="left">
					{% trans 'Employee Emergency' %}
				<th>
			</thead>
			<tr>
				<td colspan="4">&nbsp;</td>
			</tr>
			<tr>
				<td>{% trans 'First Name' %}: </td>
				<td>{{form.fname}} </td>
				<td>{% trans 'Last Name' %}: </td>
				<td>{{form.lname}} </td>
			</tr>
			<tr>
				<td>{% trans 'Phone' %}: </td>
				<td>{{form.phone}} </td>
				<td>{% trans 'E-mail' %}: </td>
				<td>{{form.mail}}</td>
			</tr>
			<tr>
				<td>{% trans 'Relationship' %}: </td>
				<td>{{form.relationship}}</td>
				<td>&nbsp; </td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td colspan="4">&nbsp;</td>
			</tr>
		</table>
		<div style="height: 15px"></div>
		<input type="hidden" name="emer_id" value="{{emergency_id}}"/>
		<input type="submit" value="{% trans 'Save' %}"/>
		<input type="button" value="{% trans 'Back' %}" onclick="process('/employee/emergency')"/>
	</form>
{% else %}
	{% if emergencies %}
		<table class="ahrmtablelist" border=1>
			<thead>
				<th>{% trans 'Name' %}</th>
				<th>{% trans 'Phone' %}</th>
				<th>{% trans 'E-mail' %}</th>
				<th>{% trans 'Delete' %}</th>
			</thead>
			{% for emergency in emergencies %}
				<tr>
					<td><a href="/employee/emergency/edit/{{emergency.id}}">{{emergency.lname}} {{emergency.fname}}</a></td>
					<td>{{emergency.phone}}</td>
					<td>{{emergency.mail}}</td>
					<td align="center"><a href="/employee/emergency/delete/{{emergency.id}}" onclick="return before_delete('{% trans 'emergency contact' %}')"><img src="/site_media/images/delete.gif" border="0"/></a></td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<font color="red"><h4>{% trans 'There is no emergency contact for this employee' %}</h4></font>
	{% endif %}
	<div style="height: 15px"></div>
	<form action="/employee/emergency/new" method="POST">
		<input type="submit" value="{% trans 'New Contact' %}"/> 
	</form>
{% endif %}
<br/>