<br/>
{% load i18n %}
{% if status %}
	<form action="/employee/education/save" method="POST">
		<font color="red"><b>
		  {% if error_name %}
		     <label for="id_name">Name</label>: This field is required.<br/>
		  {% endif %}
		  {% if form.errors %}
		     {% for field in form %}
		        {% if field.errors %}
		           {% for error in  field.errors %}
		            {{ field.label_tag }}: {{ error }}<br/>
		           {% endfor %}
		        {% endif %}
		     {% endfor %}
		  {% endif %}
		</b></font>
		<table class="ahrmtable" border=0>
			<thead>
				<th colspan="4" align="left">{% trans 'Employee education'%}</th>
			</thead>
			<tr>
				<td colspan="4">&nbsp;</td>
			</tr>
			<tr>
				<td>{% trans 'School' %}</td>
				<td>{{form.school}} </td>
				<td>{% trans 'Specialist' %}</td>
				<td>{{form.specialist}}</td>
			</tr>
			<tr>
				<td>{% trans 'Start date' %}</td>
				<td>{{form.start_date}}</td>
				<td>{% trans 'End date' %}</td>
				<td>{{form.end_date}}</td>
			</tr>
			<tr>
				<td valign="top">{% trans 'Description' %}</td>
				<td colspan="3">{{form.description}}</td>
			</tr>
			<tr>
				<td colspan="4">&nbsp;</td>
			</tr>
		</table>
		<div style="height: 15px"></div>
		<input type="hidden" name="education_id" value="{{education_id}}"/>
		<input type="submit" value="{% trans 'Save' %}">
		<input type="button" value="{% trans 'Back' %}" onclick="process('/employee/education')"/>
	</form>
{% else %}
	{% if educations %}
		<table class="ahrmtablelist" border=1>
			<thead>
				<th>{% trans 'School' %}</th>
				<th>{% trans 'Specialist' %}</th>
				<th>{% trans 'Start date' %}</th>
				<th>{% trans 'End date' %}</th>
				<th>{% trans 'Description' %}</th>
				<th>{% trans 'Delete' %}</th>
			</thead>
			{% for education in educations %}
				<tr>
					<td><a href="/employee/education/edit/{{education.id}}">{{education.school}}</a></td>
					<td>{{education.specialist}}</td>
					<td>{{education.start_date}}</td>
					<td>{{education.end_date}}</td>
					<td>{{education.description}}</td>
					<td align="center"><a href="/employee/education/delete/{{education.id}}" onclick="return before_delete('{% trans 'employee education' %}')"><img src="/site_media/images/delete.gif" border="0"/></a></td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<font color="red"><h4>{% trans 'There is no education information for this employee' %}</h4></font>
	{% endif %}
		<div style="height: 15px"></div>
		<form action="/employee/education/new" method="POST">
			<input type="submit" value="{% trans 'New' %}"/> 
		</form>
{% endif %}
<br/>
