{% extends 'master.html' %}
{% block content %}

Allweb Human Resource Management System (AHRM)
<p>Human Resource Information System (HRIS),
HR Technology or also called HR modules, refers to the systems and processes at the intersection between human resource management (HRM) and information technology.
It merges HRM as a discipline and in particular its basic HR activities and processes with the information technology field, whereas the programming of data processing systems evolved into standardised routines and packages of enterprise resource planning (ERP) software. 
On the whole, these ERP systems have their origin on software that integrates information from different applications into one universal database. The linkage of its financial and human resource modules through one database is the most important distinction to the individually and proprietary developed predecessors, 
which makes this software application both rigid and flexible.

{% endblock %}